#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{menu id:"dashboard"/}

#{list items:stations, as:'station'}
  <section class="ui segment">
    <h2 class="ui header">
      ${station.name}
    </h2>
    #{latestweather station:station/}
    #{displayreadings station:station/}
  </section>
#{/list}

<form class="ui stacked segment form" action="/dashboard/addstation" method="POST">
  <div class="field">
    <label>Add station</label>
    <input placeholder="Name" type="text" name="name">
  </div>
  <button class="ui blue submit button">Add station</button>
</form>